<section class="view intro-2 rgba-gradient">
    <div class="full-bg-img mask">
        <div class="container flex-center">
            <div class="row flex-center pt-5 mt-3 w-100">
                <div class="col-md-12 text-center margins">
                    <div class="white-text">
                        <h2 class="h1 h1-responsive display-1 wow fadeInUp" data-wow-delay="0.3s">coding-as-a-hobby</h2>
                            <hr class="hr-light wow fadeInUp" data-wow-delay="0.3s">
                            <h6 class="wow fadeInUp" data-wow-delay="0.3s">Hey! I'm <mark>@coding_hobby</mark> and
                              this is my collection of reference guide/videos on modern technologies.I'm a software engineer with a coding as a hobby along with self-learning and research on cloud, serverless, frontend and backend.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
