<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <!--Mask-->
            <div class="view">
              <!--Video source-->
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                  <vg-buffering></vg-buffering>

                  <vg-controls>
                      <vg-play-pause></vg-play-pause>
                      <vg-playback-button></vg-playback-button>

                      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                      <vg-scrub-bar>
                          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                      </vg-scrub-bar>

                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                      <vg-mute></vg-mute>
                      <vg-volume></vg-volume>

                      <vg-fullscreen></vg-fullscreen>
                  </vg-controls>

                  <video #media
                         [vgMedia]="media"
                         [src]="currentItem.src"
                         id="singleVideo"
                         preload="auto"
                         crossorigin>
                  </video>
              </vg-player>

              <ul>
                  <li *ngFor="let item of playlist; let $index = index"
                      (click)="onClickPlaylistItem(item, $index)"
                      [class.selected]="item === currentItem">
                      {{ item.title }}
                  </li>
              </ul>
              <!--<video autoplay loop playsinline>
                  <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
              </video>-->
              <!-- Carousel content -->
              <!--<div class="full-bg-img flex-center mask rgba-indigo-light white-text">
                <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
                  <li>
                    <h1 class="font-weight-bold text-uppercase">Material Design for Bootstrap 4</h1>
                  </li>
                  <li>
                    <p class="font-weight-bold text-uppercase py-4">The most powerful and free UI KIT for Bootstrap</p>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-unique btn-lg btn-rounded mr-0">Sign up!</a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-cyan btn-lg btn-rounded ml-0">Learn more</a>
                  </li>
                </ul>
              </div>-->
            </div>
            <!--/Mask-->
        </div>
        <!--/First slide-->
    </div>
    <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
