

/* You can add global styles to this file, and also import other style files */
/* Auth related styles --> Start */
@import "~@aws-amplify/ui/src/Theme.css";
@import "~@aws-amplify/ui/src/Angular.css";
/*.amplify-form-button {
  background-color: black;
}
.amplify-form-button:hover {
  background-color: black
}*/
/* Auth related styles --> End */

/* Make navbar narrow*/
.navbar.scrolling-navbar {
  padding-top: unset !important;
  padding-bottom: unset !important;
}

/* To Show Player*/

.container-fluid {
  width: 100% !important;
  padding-right: unset !important;
  padding-left: unset !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.hidden-sn main {
  padding-top: unset !important;
}


/* To Show Player*/
