
/* start: aws amplify UI component styles*/
@import "~@aws-amplify/ui/src/Theme.css";
@import "~@aws-amplify/ui/src/Angular.css";
/*.amplify-form-button {
  background-color: black;
}
.amplify-form-button:hover {
  background-color: black
}*/
/* end: aws amplify UI component styles*/

/* start: narrow the navbar*/
.navbar.scrolling-navbar {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
/* end: narrow the navbar*/

/* start: player set to full page*/
.container-fluid {
  width: 100% !important;
  padding-right: unset !important;
  padding-left: unset !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.hidden-sn main {
  padding-top: unset !important;
}
/* end: player set to full page*/
